---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Link from "@components/Link.astro";
import { BLOG } from "@consts";

const allPosts = await Astro.glob("../../content/blog/**/*.{md,mdx}");

// タグの出現回数をカウント
const tagCounts = allPosts.reduce((acc, post) => {
  post.frontmatter.tags.forEach((tag: string) => {
    acc[tag] = (acc[tag] || 0) + 1;
  });
  return acc;
}, {});

// タグを記事数の多い順にソート
const sortedTags = Object.entries(tagCounts).sort((a, b) => b[1] - a[1]);

---
<Layout title="タグ一覧" description={BLOG.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="space-y-4">
          <h2 class="animate font-semibold text-black dark:text-white">
            タグ一覧
          </h2>
          <section class="animate space-y-4">
            <div class="tags">
                <ul class="flex gap-4">
                  {
                    sortedTags.map(([tag, count]) => (
                      <li>
                        <Link href={`/tags/${tag}`}>{tag}</Link>
                        <span class="text-xs">({count})</span>
                      </li>
                    ))
                  }
                </ul>
            </div>
          </section>
        </div>
      </div>
    </aside>
  </Container>
</Layout>
