<div class="misskeyClip"></div>

<iframe
  title="harumaki021's MisskeyClip about LOVOT"
  src="https://mi.harumakizaemon.net/embed/clips/9fzwsfo4sp?maxHeight=700&rounded=true"
  data-misskey-embed-id="v1_47eb298e-13d1-4ddb-bc48-2dbf1dfe238b"
  loading="lazy"
  referrerpolicy="strict-origin-when-cross-origin"
  style="border: none; width: 100%; max-width: 500px; height: 500px; color-scheme: light dark;"
></iframe>

<script is:inline defer src="https://mi.harumakizaemon.net/embed.js"></script>