<div class="misskeyHashtag"></div>

<iframe
  src="https://mi.harumakizaemon.net/embed/tags/LOVOT?maxHeight=500&rounded=false"
  data-misskey-embed-id="v1_001280a4-00f1-4398-b0db-cb3516d002e8"
  loading="lazy"
  referrerpolicy="strict-origin-when-cross-origin"
  style="border: none; width: 100%; max-width: 500px; height: 500px; color-scheme: light dark;"
></iframe>

<script is:inline defer src="https://mi.harumakizaemon.net/embed.js"></script>
